body{
    background-color: #fffce9;
}

#Banner-Box{
    padding: 25px;
  background: #cde6a9;
  width: 100%;
 height: 35vh;
}
#Search-Bar{
    position: absolute;
    left: 40%;
}

#LogoImage{
   position: absolute;
   top: 50px;
}
.ResizedTextBox{
    width: 500px; height: 20px
}