body{
    background-color: black;

}
ul {
    position:sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
   float:left;
  }

  li a{
    text-decoration: none;
   
  }

#Intro-Text{
    position:absolute;
    height: 50%;
    width: 50%;
    left: 45%;
    top: 1000px;
    color:white;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

h1 {
    color:white;
    height: 25px;
    padding-left: 90px;
    padding-right: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif
}





.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif
    text-align: center;
}